.featured-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15vh;
	.featured-image {
		transform: translateX(40vw);
		width: 70vw;
	}
	.projects-image {
		transform: translateX(-40vw);
		width: 70vw;
	}
}
.feat-project-slider {
	margin-top: 15rem;
	margin-bottom: 15rem;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	.feat-project-card {
		// background-color: white;
		color: white;
		width: 20vw;
		aspect-ratio: 9/13;
		border-radius: 2.5rem;

		perspective: 1000px;
		&:hover {
			.inner {
				transform: rotateX(180deg);
			}
		}
		.inner {
			width: 100%;
			height: 100%;
			// background-color: rgba(0, 0, 0, 0.754);
			position: relative;
			transition: 0.5s ease-in-out;
			transform-style: preserve-3d;
			background-position: center;
			background-size: cover;
			div {
				position: absolute;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
				border-radius: 2.5rem;
				background-position: 45% 50%;
				background-size: cover;
			}
			.back {
				transform: rotateX(180deg);
				background-position: center;
				background-size: cover;
				.content {
					background-position: center;
					background-size: cover;
					background-color: rgba(0, 0, 0, 0.766);
					width: 100%;
					height: 100%;
				}
				h1 {
					color: white;
					padding-left: 10%;
					padding-top: 4%;
					font-size: 1.6rem;
					letter-spacing: 5px;
				}
				h3 {
					padding-left: 10%;
					padding-top: 3%;
					color: #1b998b;
					font-weight: 600;
					font-size: 1.05rem;
				}
				a {
					position: absolute;
					bottom: 0;
					transform: translate(1.5rem, -1rem);
				}
			}
			border-radius: 2.5rem;
		}
	}
}
