.social-media-container {
  display: flex;
  gap: 75px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10vw;
  cursor: pointer;
  div {
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #1b998b;
    // border: 1px solid #1b998b;
    div {
      width: 40px;
      aspect-ratio: 1/1;
      mask-image: url('../../../public/images/instagram.svg'); /* Set the SVG file as the mask */
      mask-size: contain; /* Ensure the mask covers the entire element */
      mask-repeat: no-repeat; /* Prevent the mask from repeating */
      background-color: white;
    }
  }
}
