.word-scroller {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	.scroller-container-green {
		display: flex;
		flex-direction: row;
		overflow-x: hidden;
		gap: 0;
		align-items: center;
		background-color: #1b998b;
	}
	.scroller-container-red {
		display: flex;
		flex-direction: row;
		overflow-x: hidden;
		gap: 0;
		align-items: center;
		background-color: #ff5a43;
	}
	.scroller {
		height: 17vh;
		min-width: 200vw;
		font-weight: 800;
		font-size: 80px;
		display: flex;
		align-items: center;
		text-wrap: nowrap;
		letter-spacing: 1.15rem;
		.word {
			&:hover {
				color: #ff5a43;
			}
		}
	}
	.scroller-green {
		background-color: #1b998b;
	}
	.scroller-red {
		background-color: #ff5a43;
	}
	.scroller-button-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		margin-top: 10rem;
		.button-container {
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			&:hover {
				// .animate-button-1 {
				// 	stroke-dashoffset: 0;
				// }
				.animate-button-2 {
					stroke-dasharray: 749.65, 0;
					// stroke-dashoffset: 0;
				}
			}
			.button {
				position: absolute;
				// transform: translateX(-50%);
			}
			.base-button {
				z-index: 1;
			}
			.animate-button-1 {
				z-index: 2;
				stroke-dasharray: 1000;
				stroke-dashoffset: -1000;
				transition: 1s ease;
				// &:hover {
				// 	stroke-dashoffset: 0;
				// }
			}
			.animate-button-2 {
				z-index: 2;
				stroke-dasharray: 0, 749.65;
				stroke-dashoffset: 100;
				transition: 1s ease;
				// transform: rotate(180deg);
			}
			p {
				color: white;
				text-align: center;
			}
		}
	}
}
