.word-scroller {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	.scroller-container-green {
		display: flex;
		flex-direction: row;
		overflow-x: hidden;
		gap: 0;
		align-items: center;
		background-color: #1b998b;
	}
	.scroller-container-red {
		display: flex;
		flex-direction: row;
		overflow-x: hidden;
		gap: 0;
		align-items: center;
		background-color: #ff5a43;
	}
	.scroller {
		height: 17vh;
		min-width: 200vw;
		font-weight: 800;
		font-size: 80px;
		display: flex;
		align-items: center;
		text-wrap: nowrap;
		letter-spacing: 1.15rem;
		.word {
			&:hover {
				color: #ff5a43;
			}
		}
	}
	.scroller-green {
		background-color: #1b998b;
	}
	.scroller-red {
		background-color: #ff5a43;
	}
	// I HATE animating srtoke. Never ask me to do this again. I've lost over 7 hours of my life towards this stupid stupid button. NEVER AGAIN
	.scroller-button-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		margin-top: 10rem;
		a {
			text-decoration: none;
		}
		.button-container {
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			font-size: 1.15rem;
			p {
				font-weight: 500;
				letter-spacing: 3px;
				transition: 0.25s ease-in-out;
				text-decoration: none;
			}
			&:hover {
				p {
					font-weight: 600;
					letter-spacing: 5px;
				}
				.animate-button-2 {
					stroke-dasharray: 695.2254028320312, 0;
				}
			}
			.button {
				position: absolute;
			}
			.base-button {
				z-index: 1;
			}
			.animate-button-1 {
				z-index: 2;
				stroke-dasharray: 1000;
				stroke-dashoffset: -1000;
				transition: 1s ease;
			}
			.animate-button-2 {
				z-index: 2;
				stroke-dasharray: 0, 695.2254028320312;
				stroke-dashoffset: 41;
				transition: 0.5s ease-in-out;
			}
			p {
				color: white;
				text-align: center;
			}
		}
	}
}
